@import "/src/scss/colors";
@import "/src/scss/variable";

.section {
  @include displaygrid();
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 15px;
  width: 100%;
  &__card {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: $secondnary;
    &__form-container {
      @include displayflex(center, center);
      flex-direction: column;
      width: 90%;
      gap: 10px;
      &__one {
        @include displayflex(start, center);
        flex-direction: column;
        width: 80%;
        &__tittle {
          color: $white;
          font-size: 22px;
          text-transform: capitalize;
        }
      }
      &__two {
        @include displayflex(start, center);
        flex-direction: column;
        width: 80%;
        &__desc {
          color: $white;
          font-size: 22px;
          text-transform: capitalize;
        }
      }

      &__btn {
        @include displayflex(center, space-between);
        width: 80%;

        &__btn-1,
        &__btn-2 {
          width: 80%;
          font-size: 20px;
          cursor: pointer;
        }

        &__refresh {
          width: 20%;
          font-weight: bold;
          font-size: 24px;
          cursor: pointer;
        }
      }
    }
  }

  &__Notes {
    width: 98%;
    height: 400px;
    @include displayflex(flex-start, flex-start);
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
  }

  @media (max-width: 998px) {
    &__Notes {
      background-color: 80%;
      @include displayflex(flex-start, center);
    }
  }
}

@media (max-width: 768px) {
  .section {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 567px) {
  .section {
    @include displayflex(center, center);
    flex-direction: column;
    width: 100%;

    &__card {
      min-height: fit-content;
      width: 90%;
      margin: 10px;
    }
  }
}
